/* body {
    background: var(--main-color3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
  } */
  
  .team-box {
    width: 30%;
    height: 400px;
    background-color: aqua;
    margin-left: 340px;
    padding: 10px;
    margin-bottom: 50px;
  }
  
  .team-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .team-name::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .5s;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
  }
  
  /* You can add more styles as needed */
  