/* Container */
.container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20%;
  margin-left: 5%;
}

/* Card */
.card {
  width: calc(32.333% - 40px); /* Adjust width to fit three cards per row with gaps */
  background-color: #143f9c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
  overflow: hidden; /* Hide overflow */
  height: 400px; /* Fixed height */
  position: relative;
  cursor: pointer;
}



/* Icon Wrapper */
.iconWrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  z-index: 0;
}

/* Adjust icon size */
.iconWrapper1 {
  font-size: 4rem;
}

/* Card Content */
.cardContent {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #102248;
  color: white;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
.cardContent h2{
  margin-top: 70px;
}
/* Content visibility */
.content {
  opacity: 1;
}

/* Hover effects */
.card:hover {
  transform: perspective(800px) rotateY(0deg);
  background-color: rgb(15, 31, 77);
}

.card:hover .content {
  opacity: 1;
  color: white;
}

.card:hover .iconWrapper {
  color: white;
}

/* Mobile View Adjustments */
@media screen and (max-width: 768px) {
  .card {
    width: calc(48% - 20px); /* Adjust width to fit two cards per row with gaps */
    height: 300px; /* Adjust height for better fit */
  }
  .iconWrapper1 {
    font-size: 3rem;
  }

  .cardContent {
    height: auto; /* Allow height to adjust for mobile */
    max-height: 100%; /* Ensure it doesn’t exceed card height */
    overflow-y: auto; /* Enable scrolling if needed */
    text-align:initial;
  }

  .container {
    gap: 20px; /* Reduce gap between cards */
    margin-bottom: 10%; /* Adjust bottom margin */
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - 20px); /* Full width for single card per row */
    height: 450px; /* Adjust height for better fit */
  }

  .cardContent {
    height: auto; /* Allow height to adjust for mobile */
    max-height: 450px; /* Ensure it doesn’t exceed card height */
    overflow-y: auto; /* Enable scrolling if needed */
  }

  .container {
    gap: 70px; /* Reduce gap between cards */
    margin-bottom: 50%; /* Adjust bottom margin */
  }
}
